# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/inspectionProfiles
.idea/shelf
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/material_theme_project_new.xml
/.idea/encodings.xml
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/mvnw
/mvnw.cmd
/.idea/dataSources/06f2b677-d53b-4270-bb45-9bbfad5775c2.xml
/Cursadas 2025 - 1º cuatrimestre TUP.pdf
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/06f2b677-d53b-4270-bb45-9bbfad5775c2/storage_v2/_src_/schema/gestoraulas.SKCtrQ.meta
/.idea/dataSources/06f2b677-d53b-4270-bb45-9bbfad5775c2/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/sqldialects.xml
/.idea/dataSources/06f2b677-d53b-4270-bb45-9bbfad5775c2/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/06f2b677-d53b-4270-bb45-9bbfad5775c2/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
